@media screen and (max-width: 970px){
    .container{
        padding: 0 12px;
        overflow: hidden;
        /* background: url("../assets/Page.jpg") left no-repeat; */
    }

    .container h2{
        font-size: 3em;
    margin-top: -10px;
    font-weight: 300;
    }

    .container h2 span i{
        font-style: normal;
        color: #ffffff;
    }

    .logo{
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
    }

    .countdown div{
        width: 60px;
        height: 60px;
        line-height: 60px;
        margin: 0 8px;
        font-size: 1.8em;
    }

    h4{
        text-align: center;
    }
}